
Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 

# HTML PAGES
RewriteRule /answer/([0-9]+)$ ./user/getanswerdetails.php?answer=$1
RewriteRule /message/([0-9]+)$ ./user/getquestiondetails.php?id=$1

RewriteRule ^account$ ./user/useraccount.php [L,QSA]

RewriteRule (\w+)/write$ ./public/writequestion.php?username=$1
RewriteRule /settings$ ./forms/setupaccount.php  [L,QSA]

RewriteRule ^setupaccount/new$ ./forms/setupaccount.php?accountcreated

RewriteRule ^forgotpassword$ forgotpassword.php
RewriteRule ^logout$ logout.php
RewriteRule ^home$ index.php
RewriteRule ^login$ login.php
RewriteRule ^register$ login.php#register


RewriteRule ^(\w+)$ ./public/showuser.php?username=$1
RewriteRule ^(\w+)/ask$ ./public/writequestion.php?username=$1

#HELPER FILES

RewriteRule ^public-helper$ ./public/func/functions.php [L,QSA]
RewriteRule ^user-helper$ ./user/func/userfunctions.php 
RewriteRule ^image-uploader$ ./forms/upload.php [L,QSA]
RewriteRule ^auth-helper$ ./forms/authentication.php [L,QSA]



