.navbaritem {
    width: 75px;
    height: px;
}

.profile_image {
    border-radius: 50%;
    border: 3px solid #7cc576;
}

section {
    padding: 10px 0;
    overflow: hidden;
}

.user i {
    font-size: 24px;
    color: #7cc576;
    float: right;
    width: 38px;
    height: 38px;
    border: 1px solid #7cc576;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.user {
    position: fixed;
    right: 15px;
    top: 20px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
}

.user #askquestion {
    right: -2px;
    top: 42px;
    background: #7cc576;
    color: #fff;
    position: absolute;
}

.user #askquestion:hover {
    background: #fff;
    color: #7cc576;
}

.user #home:hover {
    background: #7cc576;
    color: #fff;
}

#header {
    height: auto;
    padding: 25px;
    border-bottom-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

#header .logo img {
    padding: 0;
    width: 94px;
    max-height: 94px;
    margin-left: -30px;
}

.mobile-nav-toggle i {
    color: #7cc576;
    display: none;
}

.fans i {
    font-size: 16px;
    color: #7cc576;
    float: left;
    border: 1px solid #7cc576;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.fans span {
    margin-top: -11px;
    position: absolute;
    top: 13px;
    left: 45px;
}


/* SLAM QUESTIONS */

.md-form input[type="text"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid #7cc576;
    -webkit-box-shadow: 0 1px 0 0 #7cc576;
    box-shadow: 0 1px 0 0 #7cc576;
}

.md-form textarea.md-textarea {
    padding: 2px;
    overflow-y: hidden;
    border-bottom: 1px solid #7cc576;
}

a {
    color: #7cc576;
}

.Answered {
    display: none;
    position: relative;
}

.Answered i {
    font-size: 16px;
    color: #7cc576;
    float: left;
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.progress-bar {
    background-color: #7cc576;
}

.progress {
    background-color: initial;
}

.btn:hover,
.btn:focus,
.btn:active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.modal-dialog .modal-content {
    border: 0;
    margin: 1rem;
    padding: 1.2rem;
    border-radius: 0.45rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.break-text {
    word-wrap: break-word;
}

.mobile-nav-toggle {
    z-index: 500;
}

.user {
    z-index: 500;
}


/* PINNED POSTS */

#pinnedpostmodal {
    background: #333;
}

.pinnedpost-content {
    box-shadow: none !important;
    background-color: transparent;
    border: none;
}

.pin i {
    font-size: 18px;
    color: #fff;
    float: left;
    width: 35px;
    height: 35px;
    background: #7cc576;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.pin h4 {
    padding: 0 0 0 25px;
    font-size: 18px;
    top: 7px;
    position: absolute;
    color: #7cc576;
}

.modal-header {
    border-bottom: none;
    margin-bottom: -16px;
}

.modal-footer {
    color: #fff;
    border-top: none;
}

#msgbox {
    border: 1px solid;
    border-radius: .75rem;
    border-color: #7cc576;
    background: #7cc576;
    padding-top: .65rem !important;
}

.lead {
    color: #fff;
    padding: 2px;
    font-size: 1.05rem;
    font-weight: 300;
}

.pin img {
    margin-left: -18px;
    float: left;
    width: 35px;
    height: 35px;
    background: #7cc576;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.caption {
    color: #7cc576;
    background: none;
}

.carousel-item.active {
    padding: 3px;
}

.carousel-indicators li {
    background-color: #7cc576;
    width: .625rem;
    height: .625rem;
    cursor: pointer;
    border-radius: 50%;
}

.carousel-indicators {
    top: -230%;
    position: absolute;
    right: 0;
}

#posts :hover {
    cursor: pointer;
}

.loader {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 555;
    display: block;
}

.loader img {
    height: 100px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 555;
}